<MudMainContent>
    @if (!show_movie_info)
    {
        <div class="d-flex flex-column align-center mx-8 py-4">
            <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex d-row align-center">
                <MudTextField T="string" Value="@search_text" DebounceInterval="250" OnDebounceIntervalElapsed="OnDebounceIntervalElapsed" Label="Search" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" Clearable="true" />
                @if (Settings.Default.SortFlag == 1) {
                    <MudFab Class="ml-8" Size="Size.Medium" DisableElevation="true" StartIcon="@Icons.Material.Filled.Refresh" OnClick="@((e)=>OnRefreshClicked())" />
                }

            </MudContainer>
            @switch (Settings.Default.SortFlag)
            {
                case 0:
                    <MudGrid Justify="Justify.Center" Class="py-8">
                    @for (int _i = 0; _i < item_num; _i++)
                    {
                            int _index = (current_page_index - 1) * Settings.Default.NumOfItems + _i;
                            if (MovieListHandler.movies.Count > _index)
                            {
                                <MovieThumb movie="@MovieListHandler.movies[_index]" OnInfoClicked="@OnInfoClicked" />
                            }
                    }

                    </MudGrid>
                    <MudPagination Selected="@current_page_index" Class="py-4" Count="@page_num" SelectedChanged="@OnPageChanged" />
                    break;
                case 1:
                    <MudGrid>
                        <MudItem xs="12" sm="6">
                            @if (MovieListHandler.movies.Count > 0)
                            {
                                <Movie movie="@main_movie" />
                            }
                        </MudItem>
                        @if (item_num > 1)
                        {
                            <MudItem xs="12" sm="6">
                                <MudGrid Justify="Justify.SpaceEvenly" Class="pt-12">
                                    @for (int _i = 1; _i < Math.Min(13, item_num); _i++)
                                    {
                                        int _index = (current_page_index - 1) * Settings.Default.NumOfItems + _i;
                                        if (MovieListHandler.movies.Count > _index)
                                        {
                                            <MovieThumb movie="@MovieListHandler.movies[_index]" OnInfoClicked="@OnInfoClicked" />
                                        }
                                    }
                                </MudGrid>
                            </MudItem>
                        }
                    </MudGrid>
                    break;
            }
        </div>
    }
    else
    {
        <div class="fixed pl-4 pt-4 z-100">
            <MudFab Color="Color.Primary" Size="Size.Small" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@((e)=>OnBackClicked())" />
        </div>
        <Movie movie="@selected_movie" />
    }
</MudMainContent>

@using OldDriverManagerV2.Util
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar

@code {
    private bool show_movie_info = false;
    private int page_num = 1;
    private int current_page_index = 1;
    private int item_num = 0;
    private string search_text = "";
    private int selected_movie_index;
    private OldDriverManagerV2.Data.Movie? selected_movie;
    private OldDriverManagerV2.Data.Movie? main_movie;

    protected override async Task OnInitializedAsync()
    {
        await Init();
        RefreshPage();
    }

    private void InitSnackbar()
    {
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;
        Snackbar.Configuration.ShowTransitionDuration = 200;
        Snackbar.Configuration.HideTransitionDuration = 200;
        Snackbar.Configuration.VisibleStateDuration = 800;
        Snackbar.Configuration.SnackbarVariant = Variant.Text;
        Snackbar.Configuration.PreventDuplicates = true;
    }

    private async void OnDebounceIntervalElapsed(string debouncedText)
    {
        search_text = debouncedText;
        await MovieListHandler.FilterMovies(debouncedText);
        await MovieListHandler.SortMovies();
        current_page_index = 1;
        RefreshPage();
    }

    private async void OnPageChanged(int i)
    {
        if (current_page_index == i) return;
        //await LocalImageLoader.RevokeAll();
        await JSRuntime.InvokeVoidAsync("scrollToTop");
        current_page_index = i;
        RefreshPage();
    }

    private async void OnRefreshClicked()
    {
        //await LocalImageLoader.RevokeAll();
        await MovieListHandler.SortMovies();
        RefreshPage();
    }

    private async void OnInfoClicked(OldDriverManagerV2.Data.Movie movie)
    {
        selected_movie = movie;
        show_movie_info = true;
        await JSRuntime.InvokeVoidAsync("scrollToTop");
        StateHasChanged();
    }

    private async void OnBackClicked()
    {
        show_movie_info = false;
        await JSRuntime.InvokeVoidAsync("scrollToTop");
        RefreshPage();
    }

    private async Task Init()
    {
        System.Diagnostics.Debug.WriteLine("Library init!");
        InitSnackbar();
        await MovieListHandler.GetAllMovies();
        await MovieListHandler.FilterMovies("");
        await MovieListHandler.SortMovies();
        LocalImageLoader.Init(JSRuntime);
    }

    private void RefreshPage()
    {
        System.Diagnostics.Debug.WriteLine("Library refresh!");

        page_num = MovieListHandler.movies.Count > 0 ? (int)Math.Ceiling((double)MovieListHandler.movies.Count / Settings.Default.NumOfItems) : 1;
        item_num = (current_page_index != page_num) ? Settings.Default.NumOfItems : (MovieListHandler.movies.Count % Settings.Default.NumOfItems);
        if (MovieListHandler.movies.Count > 0 && item_num == 0) item_num = Settings.Default.NumOfItems;

        main_movie = MovieListHandler.movies.Count > 0 ? MovieListHandler.movies[0] : null;

        StateHasChanged();
    }

}